<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <p class="h3">Drawing the cards</p>
                <p>Evatarot.net has been developed to comply with esoteric traditions. By studying the manuscripts of the magus, Edmond, I can offer you a unique type of draw that allows you to look at all the features in a particular situation.</p>
                <p class="h4">Shuffling the cards</p>
                <p>The cards must be shuffled by the user just before the draw is carried out. This step is essential because it governs the arrangement of the cards when the draw is done.</p>
                <a class="see-more" href="#">Learn more</a>
            </div>

            <div class="col-sm-4">
                <p class="h3">Free Tarot</p>
                <p>The Celtic Tarot is used for these draws. This fortune telling tool first took off in the sixteenth century in France and is now the most popular one in the world.</p>
                <p class="h4">The Major Arcana</p>
                <p>To help you understand the draws, I choose to draw using the Major Arcana of the tarot. There are 22 of them which are used to provide precise information about the future.</p>						<a class="see-more" href="#">Learn more</a>
            </div>
            <div class="col-sm-4">
                <p class="h3">Who am I?</p>
                <p>My name is Eva Delattre and I have been practicing the fortune telling arts for almost 30 years. I wanted to share my knowledge of tarot reading by offering a completely free draw using the 22 Major Arcana of the tarot.</p>
                <p class="h4">My objective</p>
                <p>I believe I can help you understand the hidden meaning of things. Our free tarot readings should enable you to understand your future better and understand what awaits you.</p>
                <a class="see-more" href="#">Learn more</a>
            </div>

        </div>
    </div>
</section>
