<section class="dark-section">
    <div class="container">
        <div class="row detail">
            <div class="col-sm-5">
                <p class="title">Please read: </p>
                <p>Before drawing the cards, you need to focus and think about a very precise question. Then you should choose 10 cards from the deck below and consult the free interpretation about your choice.</p>
                <p>Our free tarot reading will give you a unique insight into your future and allow you to face it with more serenity.</p>
            </div>
            <div class="col-sm-5 col-sm-offset-2">

                <a href='https://wa.me/+91-9560602415' target='_blank'>
                    <img src="~/assests/images/whatsapp.png" height="50px" width="50px" />
                    </a>

                    <p class="title">For personal reading contact me on whatsapp.</p>
            </div>
            <div class="col-sm-5 col-sm-offset-2">
                @*<img class="radius profil fl" src="~/assests/images/eva-delattre.png" alt="Eva Delattre">*@
                <p class="title">Who am I?</p>
                <p>Queen of Wands have been a clairvoyant and tarologist for almost 20 years, and I am offering a free reading of the tarot.</p>
                <p>My research is based around the manuscripts written by the magus, Edmond, and offers you a unique fortune telling experience.</p>
            </div>
        </div>


        <div class="row row-card">
            <div class="col-md-12">
                <h2>Choose 3 cards from the deck below:</h2>

                <form class="send-form" method="POST" action="#">
                    <input type="hidden" name="card-1" value="">
                    <input type="hidden" name="card-2" value="">
                    <input type="hidden" name="card-3" value="">
                </form>

                <div class="card">

                    <ul class="inline">

                        <li id="card1" data-rank="">
                            <a href="#"> <img src="~/assests/images/card.png" alt="card" class="back-card"> <img src="#" alt="The Magician" class="hidden-card"> </a>
                        </li>

                        <li id="card2" data-rank=""> <a href="#"> <img src="~/assests/images/card.png" alt="card" class="back-card"> <img src="#" alt="The High Priestress" class="hidden-card"> </a> </li>

                        <li id="card3" data-rank=""> <a href="#"> <img src="~/assests/images/card.png" alt="card" class="back-card"> <img src="#" alt="The Empress" class="hidden-card"> </a> </li>
                        <li id="card4" data-rank=""> <a href="#"> <img src="~/assests/images/card.png" alt="card" class="back-card"> <img src="#" alt="The Emperor" class="hidden-card"> </a> </li>
                        <li id="card5" data-rank=""> <a href="#"> <img src="~/assests/images/card.png" alt="card" class="back-card"> <img src="#" alt="The Hierophant" class="hidden-card"> </a> </li>
                        <li id="card6" data-rank=""> <a href="#"> <img src="~/assests/images/card.png" alt="card" class="back-card"> <img src="#" alt="The Lovers" class="hidden-card"> </a> </li>
                        <li id="card7" data-rank=""> <a href="#"> <img src="~/assests/images/card.png" alt="card" class="back-card"> <img src="#" alt="The Chariot" class="hidden-card"> </a> </li>
                        <li id="card8" data-rank=""> <a href="#"> <img src="~/assests/images/card.png" alt="card" class="back-card"> <img src="#" alt="Justice" class="hidden-card"> </a> </li>
                        <li id="card9" data-rank=""> <a href="#"> <img src="~/assests/images/card.png" alt="card" class="back-card"> <img src="#" alt="The Hermit" class="hidden-card"> </a> </li>
                        <li id="card10" data-rank=""> <a href="#"> <img src="~/assests/images/card.png" alt="card" class="back-card"> <img src="#" alt="Wheel of Fortune" class="hidden-card"> </a> </li>
                        <li id="card11" data-rank=""> <a href="#"> <img src="~/assests/images/card.png" alt="card" class="back-card"> <img src="#" alt="Strength" class="hidden-card"> </a> </li>
                        <li id="card12" data-rank=""> <a href="#"> <img src="~/assests/images/card.png" alt="card" class="back-card"> <img src="#" alt="The Hanged Man" class="hidden-card"> </a> </li>
                        <li id="card13" data-rank=""> <a href="#"> <img src="~/assests/images/card.png" alt="card" class="back-card"> <img src="#" alt="Death" class="hidden-card"> </a> </li>
                        <li id="card14" data-rank=""> <a href="#"> <img src="~/assests/images/card.png" alt="card" class="back-card"> <img src="#" alt="Temperance" class="hidden-card"> </a> </li>
                        <li id="card15" data-rank=""> <a href="#"> <img src="~/assests/images/card.png" alt="card" class="back-card"> <img src="#" alt="The Devil" class="hidden-card"> </a> </li>
                        <li id="card16" data-rank=""> <a href="#"> <img src="~/assests/images/card.png" alt="card" class="back-card"> <img src="#" alt="The Tower" class="hidden-card"> </a> </li>
                        <li id="card17" data-rank=""> <a href="#"> <img src="~/assests/images/card.png" alt="card" class="back-card"> <img src="#" alt="The Star" class="hidden-card"> </a> </li>
                        <li id="card18" data-rank=""> <a href="#"> <img src="~/assests/images/card.png" alt="card" class="back-card"> <img src="#" alt="The Moon" class="hidden-card"> </a> </li>
                        <li id="card19" data-rank=""> <a href="#"> <img src="~/assests/images/card.png" alt="card" class="back-card"> <img src="#" alt="The Sun" class="hidden-card"> </a> </li>
                        <li id="card20" data-rank=""> <a href="#"> <img src="~/assests/images/card.png" alt="card" class="back-card"> <img src="#" alt="Judgement" class="hidden-card"> </a> </li>
                        <li id="card21" data-rank=""> <a href="#"> <img src="~/assests/images/card.png" alt="card" class="back-card"> <img src="#" alt="The World" class="hidden-card"> </a> </li>
                        <li id="card22" data-rank=""> <a href="#"> <img src="~/assests/images/card.png" alt="card" class="back-card"> <img src="#" alt="The Fool" class="hidden-card"> </a> </li>
                    </ul>
                    <div class="btn-group">
                        <a class="button shake-btn" href="#" title="Shuffle cards">Shuffle</a>
                        <a class="button cut-btn" href="#" title="Cut the game">Cut</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <h4>Dive into the fascinating world of the tarot reading</h4>
                <br /><br />
                      <div style="text-align:center;">
                          <iframe width="683" height="384" src="https://www.youtube.com/embed/JSCi6mEfUjo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      </div>
                    
                    <h3>A unique fortune telling experience</h3>
                <p class="center wght_light">
                    Evatarot.net offers you an exceptional fortune telling experience. Using the Rider Waite Tarot, you can see your future based on the cards you have drawn. <br>
                    This experience is based on research conducted in the nineteenth century by the French magus, Edmond, and is the most advanced research that has been carried out nowadays from Edmond's manuscripts.
                </p>

                <div class="other-tarot">
                    <h2 style="margin-bottom:40px;">Free tarot readings</h2>
                    <ul>

                        <li>
                            <a href="index.html">
                                <img src="~/assests/images/drawing/latin-tarot.jpg" alt="">
                                <h5>Tarot</h5>
                            </a>
                        </li>
                        <li>
                            <a href="tarot-yes-no/index.html">
                                <img src="~/assests/images/drawing/tarot-yes-no.jpg" alt="">
                                <h5>Tarot Yes or No</h5>
                            </a>
                        </li>
                        <li>
                            <a href="celtic-cross-tarot/index.html">
                                <img src="~/assests/images/drawing/celtic-cross.jpg" alt="">
                                <h5>Celtic Cross Tarot</h5>
                            </a>
                        </li>
                        <li>
                            <a href="love-tarot/index.html">
                                <img src="~/assests/images/drawing/love-tarot.jpg" alt="">
                                <h5>Love Tarot</h5>
                            </a>
                        </li>
                        <li>
                            <a href="oracle-cards/index.html">
                                <img src="~/assests/images/drawing/oracle-tarot.jpg" alt="">
                                <h5>Oracle Cards</h5>
                            </a>
                        </li>
                        <li>
                            <a href="angel-tarot/index.html">
                                <img src="~/assests/images/drawing/angel-tarot.jpg" alt="">
                                <h5>Angel Tarot</h5>
                            </a>
                        </li>
                        <li>
                            <a href="psychic-reading/index.html">
                                <img src="~/assests/images/drawing/psychic-tarot.jpg" alt="">
                                <h5>Psychic Reading</h5>
                            </a>
                        </li>
                        <li>
                            <a href="daily-tarot/index.html">
                                <img src="~/assests/images/drawing/daily-tarot.jpg" alt="">
                                <h5>Daily Tarot</h5>
                            </a>
                        </li>


                        <li class="off">
                            <a href="index.html">
                                <img src="~/assests/images/drawing/osho-tarot.jpg" alt="">
                                <h5>Osho Tarot</h5>
                            </a>
                            <span>Soon</span>
                        </li>
                        <li class="off">
                            <a href="index.html">
                                <img src="~/assests/images/drawing/chinese-tarot.jpg" alt="">
                                <h5>Chinese Tarot</h5>
                            </a>
                            <span>Soon</span>
                        </li>
                        <li class="off">
                            <a href="index.html">
                                <img src="~/assests/images/drawing/egyptian-tarot.jpg" alt="">
                                <h5>Egyptian Tarot</h5>
                            </a>
                            <span>Soon</span>
                        </li>
                        <li class="off">
                            <a href="index.html">
                                <img src="~/assests/images/drawing/tarot-32-cards.jpg" alt="">
                                <h5>32 cards</h5>
                            </a>
                            <span>Soon</span>
                        </li>


                    </ul>


                </div>


            </div>
        </div>

    </div>
</section>