<section class="dark-section section-step interpretation-step">
    <div class="container">


        <div class="row principal" style="padding:20px;">
            <h2>About Us</h2>

            <p><img src="~/assests/images/pic.png" width="155" align="left" style="padding:0 15px 2px 0;" /></p>
            <p>
                My name is Queen of Wands. Ever since I was a child I have been interested in paranormal phenomena and anything that can't be simply and rationally explained. It was my attraction to the occult that guided me to clairvoyance and I've gradually mastered all the most commonly used divination tools.
            </p>

            <p>I believe there is a hidden meaning in everything. From a purely scientific point of view, some physical behaviours or chemical reactions are easily explained. We are gradually exploring the universe and learning how some of it operates. Nonetheless, we are constantly confronted with problems relating to the relations people have with the society around them, or their self-awareness. It is these sorts of metaphysical, philosophical and social questions that clairvoyance is particularly suitable for answering.</p>

            <p>
                We divide the world into two realms; the scientific and the spiritual. Although I'm really interested in the first, as a clairvoyant I act in the second.
            </p>

            <p>I'm sure you understand that it is possible to approach the universe of divinatory arts from a scientific standpoint. I get a lot of pleasure from making connections between the science we understand today and the divinatory tools that we use during a consultation.</p>

            <p>What I have experienced in life so far has only sharpened my intuition. I am famous for my gift of clairvoyance and the expertise I have in this field. Each day, I try to get a little closer to the future and it has become the centre of my everyday life. I gather all the elements communicated to me and use both my intuition and the clairvoyance techniques that I master to shed light on the different paths that arise in a person's life.</p>

            <p>I like to envisage a person's future as a set of paths spread out before them. My view of life is that each of us is led to choose our own path. The divinatory arts are a way of giving us the space we need to take that decision, as well as a framework to help with it. And then it is possible to protect a person from some dangers and to point them towards more peaceful lands where they can be fulfilled and serene.</p>

            <p>I am someone who likes to listen, sensitive to everyone's problems, and I do my best to use my knowledge and intuition to answer the questions that I am asked. In my work I respect the ethical rules of my profession and I attach great importance to the confidentiality of the information provided to me. While telephone consultations are a great way for you to retain some form of anonymity while we are talking, you can also rely on me to be kind, discreet, understanding and non-judgemental.</p>

            <p>
                Yours Truly,<br />
                Queen of Wands<br />
                <a href="#">contact</a>
            </p>

        </div>

    </div>
</section>