
@{
    ViewBag.Title = "cardresult";
}

    <div class="content">

        <section class="dark-section section-step interpretation-step">
            <div class="container">


                <div class="row">
                    <h2 class="title_result">Here is the interpretation of your draw</h2>


                    <div class="col-sm-3 col-md-2 col-xs-3 center top-cards">
                        <img src="~/assests/images/card/18.jpg" alt="The Moon">
                        <img src="~/assests/images/card/14.jpg" alt="Temperance">
                        <img src="~/assests/images/card/15.jpg" alt="The Devil">
                        <img src="~/assests/images/card/17.jpg" alt="The Star">
                        <img src="~/assests/images/card/4.jpg" alt="The Emperor">
                    </div>
                    <div class="col-sm-6 col-md-8 col-xs-12 middle-cards">
                        <h3>The Moon, The World and Temperance</h3>

                        <div class="mobile-cards">
                            <img src="~/assests/images/card/18.jpg" alt="The Moon">
                            <img src="~/assests/images/card/21.jpg" alt="The World">
                            <img src="~/assests/images/card/14.jpg" alt="Temperance">
                        </div>

                        <p>In the coming weeks, you should make a decisive encounter in your life. It is with someone older than you, who shares many things in common with you. This meeting will be very important to your personal development to the extent that you can count on this person to help you in difficult times, and support you in your personal projects. He is a man with whom you should maintain a purely friendly relationship. From that point of view, there will be no ambiguity. You should share many things with him because you have many interests in common. </p>
                        <p>At the same time, you can look forward to new things in your love life. In effect, the cards highlight major advances with a man who means a lot to you. You must know who it is because you know about the feeling this person has for you.  Your draw highlights travel and happy times that you should be spending with this person. However, you should be prepared for some tension tainting the relationship, particularly due to a woman you hang out with from time to time. This person would be willing to betray you for their own personal comfort, and could hurt you if you trust her blindly. You will put some distance between you to avoid this woman interfering too much in your private life and becoming a negative in the relationship that you have with this man. Overall, the cards are positive as they highlight a new dynamic in your life that shows that things are moving in your favor. </p>


                        <p>
                            The cards reveal major opportunities during the month of September. If you wish, I can give you more details by e-mail after making a draw specifically for you to answer the question of your choice.
                        </p>
                        <style type="text/css">
	#email_inside, #prenom_inside  {
		color:#000;
		font-size:16px;
		padding:3px;
		width:210px;
	}

	#email_inside .inside, #prenom_inside .inside  {
		font-size:16px;
		font-weight:300;
	}

	#inside_ok, #inside_ok_2 {
		padding:0.5rem 0rem;
		margin:4px 0px 0px 0px;
		font-size:15px;
	}

	#inside_step1 .btn_inside,  #inside_step2 .btn_inside {
		margin:0;
		text-align:left;
	}

    #inside_step2 {
	    -webkit-animation-name: fadeIn; /* Fade in the background */
	    -webkit-animation-duration: 4s;
	    animation-name: fadeIn;
	    animation-duration: 4s;
	    color:#fff;
	}

	#inside_step2 input {
		color:#000;
	}

	.boxopt {
	    font-size: 12px;
	    font-weight: 500;
	}

	#inside_step2 .boxopt {
		display:inline-block;
		text-indent:0px;
	    margin-top: -30px;
	    padding-left: 10px;

	}

	#media (min-width: 992px) {
		#inside_step2  .col-md-6 {
		    width: 160px;
		}
	}

	#inside_step2 .right-form {
		text-align:left;
	}

	#inside_step2 .mentions {
		width:100%;

	}

	#inside_step2 .bottom_sexe label {
		font-weight:300;
		font-size:13px;
	}

	#inside_step2 input[type="radio"] {
		  margin: 0.5rem 0.5rem 0 0;
	}
                        </style>




                        <form id="form_inside">

                           


                            <div id="inside_step2" style="display:none;">
                                <input type="hidden" name="sexe" id="sexe_no_id" value="1">
                                <p>

                                    <div class="row">
                                        <div class="col-md-6 right-form">First name</div>
                                        <div class="col-md-2 bottom-form"><input type="text" name="prenom" id="prenom_inside"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 right-form">Your question</div>
                                        <div class="col-md-2 bottom-form">
                                            <select name="crit1" id="inside_box">
                                                <option value="0">Select...</option>
                                                <option value="1" id="1">Love</option>
                                                <option value="2">Work</option>
                                                <option value="3">Money</option>
                                                <option value="4">Other</option>
                                            </select>
                                            <select name="crit2" style="display:none;" id="inside_amour">
                                                <option value="0">Select...</option>
                                                <option value="1">Will I meet the soul mate?</option>
                                                <option value="2">What does the future hold for my relationship?</option>
                                                <option value="3">Could my ex come back?</option>
                                                <option value="4">Is someone secretly in love with me?</option>
                                                <option value="5">Other</option>
                                            </select>
                                            <select name="crit3" style="display:none;margin-top:5px;" id="inside_travail">
                                                <option value="0">Select...</option>
                                                <option value="1">What are my career prospects?</option>
                                                <option value="2">How is my job going to change?</option>
                                                <option value="3">Will I find a job?</option>
                                                <option value="4">Am I going to get promoted?</option>
                                                <option value="5">Am I going to change jobs?</option>
                                            </select>
                                            <select name="crit4" style="display:none;margin-top:5px;" id="inside_argent">
                                                <option value="0">Select...</option>
                                                <option value="1">How is my financial situation going to change?</option>
                                                <option value="2">When will I receive some money?</option>
                                                <option value="3">How can I earn more money?</option>
                                                <option value="4">When will my financial problems end?</option>
                                                <option value="5">Will I have enough to live on?</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 right-form">Your country</div>
                                        <div class="col-md-2 bottom-form">
                                            <select name="country" id="inside_country">
                                                <option value="0">Select...</option>
                                                <option value="1">United States</option>
                                                <option value="2">United Kingdom</option>
                                                <option value="3">Canada</option>
                                                <option value="4">Australia</option>
                                                <option value="5">Other</option>
                                            </select>
                                        </div>
                                    </div>
                                <p class="check_row" ">
				By clicking on the button below " I want to receive tarot readings", you declare you are over 18 years old and accept our <a href="terms.html" target="_blank" style="color:#fff;text-decoration:underline;">terms and conditions of use</a>. You agree to receive regular tarot readings and clairvoyance offers from us by e-mail. You can unsubscribe at any time by clicking on the unsubscribe link at the bottom of each e-mail.
			</p>

                                <div class="erreur_inside" style="color:#ff5a5a;margin-top:5px;"></div>

                                <div class="btn-group btn_inside">
                                    <a class="button" href="#" id="inside_ok_2" onClick="javascript:return false;" style="padding:1rem;">I want to receive tarot readings</a>
                                </div>

                                </p>
                            </div>

                            <div style="height:30px;"></div>

                        </form>


                        <div id="inside_validation" style="display:none;">
                            <p><span style="font-weight:500;color:white;">Thank you, you will receive an email from Evatarot.</span><br /></p>
                            <p><span style="font-weight:500;color:white;">To make sure you receive your email, please add this address to your contact list : eva@evatarot.net</span></p>
                        </div>



                        <h3>The Tower, The Devil and The Fool</h3>

                        <div class="mobile-cards">
                            <img src="~/assests/images/card/16.jpg" alt="The Tower">
                            <img src="~/assests/images/card/15.jpg" alt="The Devil">
                            <img src="~/assests/images/card/22.jpg" alt="The Fool">
                        </div>

                        <p>Relationship issues could get better faster than expected during the month of September with the help of an outside agency. The cards show some relationship issues that have lasted for several months, especially repeated arguments about the same subject. There aren't many subjects, only 3 or 4, but they come back regularly when the couple are arguing. Neither one of the couple wants to give in and this can sometimes make the situation worse. Daily life is often spoiled when it could be so simple and pleasant between two people in love. </p>
                        <p>Fortunately it seems that many of these issues can be addressed relatively quickly. This will happen naturally, without you having to act directly. Oddly, it doesn't depend on the two people in the couple. In some ways its current events that will act in their favor, in a surprising way. Nobody would have expected such a dramatic turn in the relationship between these two people. When this happens it will be truly liberating for both individuals. </p>
                        <p>Once the outstanding issues have been settled, the couple will become peaceful again and can move forward in a single, clear direction, hand in hand, with happy, united hearts. This is also an opportunity to find themselves again in a new way, after some difficult years. With this new found lightness you will feel more involved in this couple and new desires will emerge. For the happiness of your both. </p>


                        <h3>The Star, The Chariot and The Emperor</h3>

                        <div class="mobile-cards">
                            <img src="~/assests/images/card/17.jpg" alt="">
                            <img src="~/assests/images/card/7.jpg" alt="">
                            <img src="~/assests/images/card/4.jpg" alt="">
                        </div>

                        <p>The cards evoke beautiful human qualities and indicate that you are a generous, understanding and sensitive person. These qualities, which are only rarely found in people, have helped you to build a valuable set of benchmarks that allow you today to see things as they are. In your eyes there is no artifice or pretense; you judge people at their fair value and see the world as it is. However, sometimes you feel powerless to change things and your natural sensitivity is affected by that. You sometimes feel alone and misunderstood, and the doubts that live deep within you sometimes over come the certainties. </p>
                        <p>Here, your draw addresses a very particular point because it is evoking your social path. In the coming days, the cards announce a significant change. You should encounter an older person who will have a lot of influence on your personal feelings and your way of looking at things. At first, you will be fairly suspicious because nothing attracts you to that person; they seem distant, superficial and a bit precious. Still, the cards show that your life paths are connected, and with time, you'll discover that this person shares many things in common with you. Together you will experience an unexpected event which should bring your considerably closer together. </p>


                        <h3>The missing card : Wheel of Fortune</h3>

                        <div class="mobile-cards">
                            <img src="~/assests/images/card/10.jpg" alt="Wheel of Fortune">
                        </div>
                        <p>
                        <p>The Wheel of Fortune conveys an awareness during which the material questions join the spiritual questions. It’s a key moment in life during which the individual chooses either matter or spirit. Gone wrong, the Wheel of Fortune describes a quest towards permanent change through which finding balance becomes impossible.</p>
                        <p>By not choosing the Wheel of Fortune , you want to take advantage of time to build and find personal balance. Today, you ask yourself the right questions. You are aware of the current stakes and you try to put all the luck on your side to reach your goals.</p>						</p>
                    </div>


                    <div class="col-sm-3 col-md-2 center bottom-cards">
                        <img src="~/assests/images/card/21.jpg" alt="The World">
                        <img src="~/assests/images/card/16.jpg" alt="The Tower">
                        <img src="~/assests/images/card/22.jpg" alt="The Fool">
                        <img src="~/assests/images/card/7.jpg" alt="The Chariot">
                        <img src="~/assests/images/card/10.jpg" alt="Wheel of Fortune">
                    </div>
                </div>



                <style>
.boxopt {
	font-size: 12px;
    font-weight: 500;
}

.check_row {
	margin:auto;
}

.boxopt a {
	color:#fff;
	text-decoration:underline;
}

.checkons {
	text-align:left;
	margin:10px auto 0 auto;
	width:350px;
}

.check_row label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}

#check2, #check_callback {
	width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
    margin-right:6px;
}

#media screen and (max-width: 900px){

 #telephone {
 	margin-top:5px;
 }

}
                </style>

                <div id="ajax_question">
                    <h2 class="title_result">Do you have a question?</h2>
                    <p style="text-align:center;margin-bottom:20px;">I will send you a free e-mail with an answer to the question of your choice.</p>
                    <form method="post" action="#" class="form-optin">
                        <div class="row question_sex">
                            <div class="col-md-6 right-form">Your question</div>
                            <div class="col-md-2 bottom-form">
                                <select name="question" class="select-optin" id="question">
                                    <option value="1">Are you going to meet your soul mate?</option>
                                    <option value="2">Could your ex come back?</option>
                                    <option value="3">What opportunities will you have in 2020?</option>
                                    <option value="4">Who is this man who appears in your draw?</option>
                                    <option value="5">What does the future hold for your relationship?</option>
                                    <option value="6">When will the problems end?</option>
                                    <option value="7">What events do you need to prepare for?</option>
                                    <option value="8">What are your career prospects?</option>
                                    <option value="9">Could you win a large sum of money?</option>
                                    <option value="10">Will your projects be successful?</option>
                                    <option value="11">What does he feel for you?</option>
                                    <option value="12">Can you imagine a future with this man?</option>
                                    <option value="13">What does your life path look like?</option>
                                </select>

                                <input type="hidden" name="sexe" id="sexe" value="1">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 right-form">First name</div>
                            <div class="col-md-2 bottom-form"><input type="text" name="prenom" id="prenom" style="width:210px;"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 right-form">E-mail address *</div>
                            <div class="col-md-2 bottom-form"><input type="text" name="email" id="email" style="width:210px;"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 right-form">Country</div>
                            <div class="col-md-2 bottom-form">
                                <select name="country" id="country">
                                    <option value="0">Select...</option>
                                    <option value="1">United States</option>
                                    <option value="2">United Kingdom</option>
                                    <option value="3">Canada</option>
                                    <option value="4">Australia</option>
                                    <option value="5">Other</option>
                                </select>
                            </div>
                        </div>

                        <div class="checkons">
                            <p class="check_row">
                                By clicking on the button below "I want to receive answers", you declare you are over 18 years old and accept our <a href="terms.html" target="_blank" style="color:#fff;text-decoration:underline;">terms and conditions of use</a>. You agree to receive regular tarot readings and clairvoyance offers from us by e-mail. You can unsubscribe at any time by clicking on the unsubscribe link at the bottom of each e-mail.
                            </p>
                            <div style="clear:both;"></div>
                        </div>

                        <div class="erreur" style="color:#ff5a5a;margin-top:5px;"></div>


                        <div class="btn-group">
                            <a class="button" href="#" id="optinok" onClick="javascript:return false;">I want to receive answers</a>
                        </div>

                    </form>

                </div>


                <div id="ajax_ok" style="display:none;max-width: 600px; margin: auto;">
                    <h2 class="title_result">I have received your request.</h2>


                    <p style="text-align:left;margin-bottom:20px;">
                        As you asked, I am going to carry out a personal draw for you and will send you an answer the following question by e-mail: "<span id="show-question"></span>"
                    </p>

                    <p style="text-align:left;margin-bottom:20px;">It should arrive in a few hours.</p>

                    <p style="text-align:left;margin-bottom:20px;">
                        If haven't received your draw within 48 hours, please check in your junk or spam folders. You can also add my e-mail address <a style="color:#fbf5d2;" href="mailto:eva@evatarot.net">eva@evatarot.net</a> to your address book to avoid my work being lost and you not seeing it.
                    </p>

                    <p>
                        Kind regards,<br />
                        Your Tarologist
                    </p>

                </div>

                @Html.Partial("_AboutSection")

            </div>

            <p class="mentions bas">
                Your personal details will never be passed to third parties. In accordance with the law you, have a right of access to modify and rectify data. To do this click on the following link: <a href="terms.html">General Conditions.</a><br />
                * By completing your e-mail address, you agree to receive clairvoyance offers from Eva Delattre
            </p>

        </section>


    </div>

