<section class="dark-section section-step interpretation-step">
    <div class="container">


        <div class="row principal" style="padding:20px;">
            <h2>Gallery</h2>


            

            <div style="text-align:center;">

                <a href="https://www.youtube.com/embed/JSCi6mEfUjo" target="_blank">
                    <iframe width="300" height="200" src="https://www.youtube.com/embed/JSCi6mEfUjo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </a>

                <a href="https://www.youtube.com/embed/JSCi6mEfUjo" target="_blank">
                    <iframe width="300" height="200" src="https://www.youtube.com/embed/JSCi6mEfUjo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </a>
                <a href="https://www.youtube.com/embed/JSCi6mEfUjo" target="_blank">
                    <iframe width="300" height="200" src="https://www.youtube.com/embed/JSCi6mEfUjo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </a>
                <a href="https://www.youtube.com/embed/JSCi6mEfUjo" target="_blank">
                    <iframe width="300" height="200" src="https://www.youtube.com/embed/JSCi6mEfUjo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </a>

                <a href="https://www.youtube.com/embed/JSCi6mEfUjo" target="_blank">
                    <iframe width="300" height="200" src="https://www.youtube.com/embed/JSCi6mEfUjo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </a>

                <a href="https://www.youtube.com/embed/JSCi6mEfUjo" target="_blank">
                    <iframe width="300" height="200" src="https://www.youtube.com/embed/JSCi6mEfUjo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </a>

                <a href="https://www.youtube.com/embed/JSCi6mEfUjo" target="_blank">
                    <iframe width="300" height="200" src="https://www.youtube.com/embed/JSCi6mEfUjo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </a>

                <a href="https://www.youtube.com/embed/JSCi6mEfUjo" target="_blank">
                    <iframe width="300" height="200" src="https://www.youtube.com/embed/JSCi6mEfUjo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </a>

                <a href="https://www.youtube.com/embed/JSCi6mEfUjo" target="_blank">
                    <iframe width="300" height="200" src="https://www.youtube.com/embed/JSCi6mEfUjo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </a>

                <a href="https://www.youtube.com/embed/JSCi6mEfUjo" target="_blank">
                    <iframe width="300" height="200" src="https://www.youtube.com/embed/JSCi6mEfUjo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </a>
            </div>


        </div>

    </div>
</section>